@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: #17181C;
  background: linear-gradient(90deg, rgba(23,24,28,1) 0%, rgba(23,24,28,1) 93%, rgba(23,24,28,0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .text-gradient {
  background: #f5f5f5;
  background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 93%, rgba(245,245,245,0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-100;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-200;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-900;
  border-radius: 8px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-800;
}

.font-sample:hover > .info-link {
  display: block;
}
  


.icon-label {
  @apply sr-only;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition-delay: 0ms;
}

.icon:hover > .icon-label {
  @apply not-sr-only;
  position: absolute;
  max-width: 96px;
  padding-top: 8px;
  z-index: 20;
  opacity: 1;
  transition-delay: 0.5s;
}

.icon:not(:hover) > .icon-label {
  transition-delay: 0s;
}

.ios-container {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}